#album_meta {
    margin-top: 15px;
    margin-left: 25px;
}

.photo_wrapper {
    margin-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}

.photo_box {
    height: 225px;
}

.photo_thumb {
    object-fit: cover;
    object-position: 0 0;
    width: 100%;
    height: 100%;
}

/**/

.row {
    display: flex;
    flex-wrap: wrap;
}

.photo_box {
    border: 1px solid #999;
    /*max-width: 640px;*/
}


/**/


/**  TO ekko-lightbox
*/

.ekko-lightbox .modal-dialog {
    margin: 0.15rem  auto;
}

.ekko-lightbox h4 {
    font-size: 1.0rem !important;
}

.ekko-lightbox .modal-header {
    padding: 0.5rem 1rem;
}


.ekko-lightbox .modal-body {
    padding: 0.25rem;
}

.ekko-lightbox .modal-footer {
    padding: 0.35rem 0.75rem;
    justify-content: flex-start;
    font-size: x-small;
}
