{% extends "management/manage_base.html" %}
{% load static %}
{% block load_import_file %}
    <link href="{% static "/management/album.css" %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div id="album_meta" class="col-6 border-right">
                <h5>Album Info:</h5>
                <form id="fm_album_meta" method="POST" action="{% url 'edit_album' album_meta_form.f_id.value %}">
                    {% csrf_token %}
                    {{ album_meta_form.f_id }}

                    <div class="form-group row">
                        <label class="col-3 col-form-label">{{ album_meta_form.f_title.label }}</label>
                        <div class="col-9">{{ album_meta_form.f_title }}</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-3 col-form-label">{{ album_meta_form.f_desc.label }}</label>
                        <div class="col-9">{{ album_meta_form.f_desc }}</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-3 col-form-label">{{ album_meta_form.f_visit_status.label }}</label>
                        <div class="col-9">{{ album_meta_form.f_visit_status }}</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-3 col-form-label">{{ album_meta_form.f_pwd.label }}</label>
                        <div class="col-9">{{ album_meta_form.f_pwd }}</div>
                    </div>

                    <div class="form-group row">
                        <label class="col-3 col-form-label">{{ album_meta_form.f_create_time.label }}</label>
                        <div class="col-9">{{ album_meta_form.f_create_time }}</div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3"></div>
                        <div class="col-9 input-group form-row">
                            <label class="col-form-label checkbox-inline"
                                   for="{{ album_meta_form.f_show_exif.auto_id }}">{{ album_meta_form.f_show_exif }} {{ album_meta_form.f_show_exif.label }}</label>
                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="col-8"></div>
                    <button class="btn btn-sm btn-primary" id="btn_album_meta_update">Update</button>
                </div>
            </div>

            <div id="img_upload" class="col-6">
                <h5>Upload Image:</h5>
                <form id="fm_up_img" method="POST" enctype="multipart/form-data"
                      action="{% url 'upload_image' album_id=album_meta_form.f_id.value %}">
                    {% csrf_token %}

                    <div class="form-group form-row">
                        <label class="col-3 col-form-label">{{ upload_photo_form.f_alias.label }}</label>
                        <div class="col-9">{{ upload_photo_form.f_alias }}</div>
                    </div>

                    <div class="form-group form-row">
                        <label class="col-3 col-form-label">{{ upload_photo_form.f_desc.label }}</label>
                        <div class="col-9">{{ upload_photo_form.f_desc }}</div>
                    </div>

                    <div class="form-group form-row">
                        <label class="col-3 col-form-label">{{ upload_photo_form.f_img.label }}</label>
                        <div class="col-9">{{ upload_photo_form.f_img }}</div>
                    </div>
                    <img id="up_img_preview">

                    <div class="row bottom">
                        <div class="col-8"></div>
                        <button type="submit" class="btn btn-sm btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div id="photo_upload">

        </div>
        <div id="album_photos" class="row container-fluid">
            {% for pic in photos %}
                <div class="photo_box col-3" photo_id="{{ pic.id }}">
                    <img src="{% get_media_prefix %}/{{ pic.thumb_s }}" class="img-fluid w-100 photo_img">
                    <div id="widget_photo_edit_{{ pic.id }}" class="widget_photo_edit" photo_id="{{ pic.id }}">
                        <span class="btn btn-sm fa fa-pd fa-window-close del_photo" photo_id="{{ pic.id }}"></span>
                        <span class="btn btn-sm fa fa-pd fa-edit edit_photo" photo_id="{{ pic.id }}"></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="fade modal" role="dialog" aria-hidden="true" id="del_pic_dialog" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Photo</h5>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal" ><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div>
                            <img src="#" class="m_del_pic_img img-fluid img-thumbnail rounded float-left">
                            <div class="pl-5">
                                <div>delete photo?</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-sm btn-danger" id="m_sure_del_pic">Del</button>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });

            $('#btn_album_meta_update').click(function (e) {
                e.preventDefault();
                // TODO check fields
                $.ajax({
                    url: "{% url 'edit_album' album_id=album_meta_form.f_id.value %}",
                    method: 'post',
                    data: $('#fm_album_meta').serialize(),
                    success: function (data, status) {
                        console.log(data)
                    }
                })
            });

            $('#{{ upload_photo_form.f_img.auto_id}}').change(function (e) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('up_img_preview').src = e.target.result;
                };
                reader.readAsDataURL(this.files[0]);
            });

            $('.del_photo').click(function (e) {
                e.preventDefault();
                let img_src = $(this).parent().parent().children('img').attr('src');
                $('#del_pic_dialog').find('img').attr('src', img_src);
                $('#del_pic_dialog').modal('toggle');
                // TEST
                let pid = $(this).attr('photo_id');
                let url = "{% url 'delete_image' %}";
                $('#m_sure_del_pic').click(function (e) {
                    $('#del_pic_dialog').modal('hide');

                    $.ajax({
                        url: url,
                        method: 'post',
                        data: {
                            "photo_id": pid, "album_id":{{ album_meta_form.f_id.value }}
                        },
                        dataType: 'json',
                        success: function (data, status) {
                            console.log(data, status);
                            if (data['status'] == 'success') {
                                $('div[photo_id=' + pid + ']').remove();
                            } else {
                                // TODO alert
                            }
                        }
                    });

                });

                return;


            });

        })
    </script>
{% endblock %}