{% extends "management/manage_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block main_content %}
    <div class="container">
        <div class="card">
            <div class="card-header">概览</div>
            <div class="card-body">
                <div id="counts">
                    <span class="fa-pd fas fa-align-left"></span>{{ counts.posts }}篇文章
                    <span class="fas fa-images fa-pd "></span>{{ counts.albums }}个相册
                    <div class="" style="margin-top: 15px">
                        <span class="fas fa-calendar-alt fa-pd"></span><span>最近文章</span>
                        <ul class="text-nowrap overflow-hidden">
                            {% for post in recent_posts %}
                                <li><a href="#" target="_blank">{{ post.public_time }} / {{ post.title }}{% if post.subtitle %} / {{ post.subtitle }}{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}