{% extends 'management/manage_base.html' %}
{% block title %}Posts{% endblock %}

{% load static %}

{% block load_import_file %}
    <link href="{% static 'management/post.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'management/common.js' %}"></script>
{% endblock %}

{% block title_right %}
    <a class="btn btn-sm btn-info mr-2" href="{% url 'create_post' %}">CreatePost</a>
    {#    <button class="btn btn-sm btn-info mr-2">CreateDraft</button>#}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <span class="fa-pd"><a href="#">All </a>({{ counts.all }})</span>|
            <span class="fa-pd"><i class="fa-pd fa fa-file-powerpoint text-success"></i><a
                    href="#">Published </a>({{ counts.publish }})</span>|
            <span class="fa-pd"><i class="fa-pd fa fa-lock-open text-primary"></i><a
                    href="#">Protected </a>({{ counts.protected }})</span>|
            <span class="fa-pd"><i class="fa-pd fa fa-lock text-warning"></i><a
                    href="#">Private </a>({{ counts.private }})</span>|
            <span class="fa-pd"><i class="fa-pd fa fa-file-alt text-secondary"></i><a
                    href="#">Draft </a>({{ counts.draft }})</span>|
            <span class="fa-pd"><i class="fa-pd fa fa-trash-alt text-warning"></i><a
                    href="#">Trash </a>({{ counts.deleted }})</span>
        </div>

        <div class="row w-100" id="post_table">
            <table class="table table-striped" style="table-layout: fixed;">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 32px;" class="td_post_item_checkbox">
                        <input type="checkbox">
                    </th>
                    <th class="text-nowrap overflow-hidden align-left" style="width: 70%">
                        <span>
                            <label>Title</label>
                        </span>
                    </th>
                    <th class="align-right">
                        <label>Category</label>
                    </th>
                    <th>
                        <label>Date</label>
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for post in post_metas %}
                    <tr class="table_post_item" post_id="{{ post.id }}">
                        <td class="td_post_item_checkbox"><input type="checkbox"></td>
                        <td class="text-nowrap overflow-hidden">
                            {% if post.trash_status == 1 %}
                                <span class="fa-pd fa fa-trash-alt text-warning"></span>
                            {% else %}
                                <span class="fa-pd fa fa-white-space fa-file-alt"></span>
                            {% endif %}
                            {% if post.visit_status == 0 %}  {# draft #}
                                <span class="fa-pd fa fa-file-alt text-secondary"></span>
                            {% elif post.visit_status == 1 %} {# public #}
                                <span class="fa-pd fa fa-file-powerpoint text-success"></span>
                            {% elif post.visit_status == 2 %} {# protected #}
                                <span class="fa-pd fa fa-lock-open text-primary"></span>
                            {% elif post.visit_status == 3 %} {# private #}
                                <span class="fa-pd fa fa-lock text-warning"></span>
                            {% endif %}

                            <a href="#" class="post_title">
                                {% if post.trash_status == 1 %}
                                    <s class="text-secondary">{{ post.title }}
                                        {% if post.subtitle %} | {{ post.subtitle }} {% endif %}</s>
                                {% else %}
                                    {{ post.title }}
                                    {% if post.subtitle %} | {{ post.subtitle }} {% endif %}
                                {% endif %}
                            </a>
                            <div class="widget_post_edit">
                                {% if post.trash_status == 0 %}
                                    <span><a class="btn btn-sm btn-link btn_post_edit"
                                             href="{% url 'edit_post' post_id=post.id %}"
                                             target="_blank">edit</a></span>
                                    |<span><button type="button" class="btn btn-sm btn-link text-danger btn_trash_post"
                                                   href="#" trash="{{ post.trash_status }}">delete</button></span>
                                    |<span><a class="btn btn-sm btn-link" href="{% url 'post_view' post_id=post.id %}"
                                              target="_blank">view</a></span>
                                {% else %}
                                    <span><a class="btn btn-sm btn-link btn_post_edit"
                                             href="{% url 'edit_post' post_id=post.id %}"
                                             target="_blank">edit</a></span>
                                    |<span><button type="button" class="btn btn-sm btn-link text-info btn_trash_post"
                                                   href="#" trash="{{ post.trash_status }}">recover</button></span>
                                    |<span><button type="button"
                                                   class="btn btn-sm btn-link text-danger btn_destroy_post"
                                                   href="#">destroy</button></span>
                                {% endif %}
                            </div>
                        </td>
                        <td scope="col">
                            Travel
                        </td>
                        <td scope="col">
                            {{ post.public_time|date:'Y/m/d H:i' }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# remove or delete #}
    <div class="fade modal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false"
         id="remove_or_delete_post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="m_do_cancel">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" id="m_do_sure">Sure</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(window).ready(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });

            $('.link_post').addClass('text-primary');

            $('.table_post_item').hover(function () {
                    $(this).find('.widget_post_edit').show();
                },
                function () {
                    $('.widget_post_edit').hide();
                }
            );

            $('.btn_trash_post').click(function () {
                if ($(this).attr('trash') == 0) {
                    let post_name = $(this).parents('.table_post_item').find('.post_title').text();
                    remove_or_delete_post_dialog("Trash :",
                        `Are you sure to remove <br><b>[${post_name}]</b><br>to trash ? `,
                        function () {
                        },
                        do_remove_or_recover.bind($(this)));
                } else {
                    do_remove_or_recover.bind($(this))();
                }

                function do_remove_or_recover() {
                    let url = $(this).attr('trash') == 0 ? "{% url 'remove_post_to_trash' %}" : "{% url 'recover_post_from_trash' %}";
                    let pid = $(this).parents('.table_post_item').attr('post_id');
                    $.ajax({
                        url: url,
                        method: 'POST',
                        data: {'post_id': pid},
                        success: function (data, status) {
                            if (data['status'] == 'success') {
                                location.reload()
                            } else {
                                console.log(data + ' , ' + status);
                            }
                        },
                        error: function (msg) {
                            console.log(msg);
                        }
                    });
                }
            });

            $('.btn_destroy_post').click(function () {
                let post_name = $(this).parents('.table_post_item').find('.post_title').text();
                remove_or_delete_post_dialog("Destroy! ",
                    `Are you sure to <b class='text-danger'>DESTROY</b> post <br><b>[${post_name}]</b> ? `,
                    function () {
                    },
                    do_destroy_post.bind($(this)));

                function do_destroy_post() {
                    let url = "{% url 'delete_post' %}";
                    let pid = $(this).parents('.table_post_item').attr('post_id');
                    $.ajax({
                        url: url,
                        method: 'POST',
                        data: {'post_id': pid},
                        success: function (data, status) {
                            if (data['status'] == 'success') {
                                location.reload()
                            } else {
                                console.log(data + ' , ' + status);
                            }
                        },
                        error: function (msg) {
                            console.log(msg);
                        }
                    });
                }

            });

            function remove_or_delete_post_dialog(title, body, fun_cancel, fun_ok) {
                $('#remove_or_delete_post').find('.modal-title').text(title);
                $('#remove_or_delete_post').find('.modal-body').html(body);
                $('#remove_or_delete_post').modal('toggle');

                $('#m_do_cancel').click(function () {
                    fun_cancel();
                });
                $('#m_do_sure').click(function () {
                    $('#remove_or_delete_post').modal('hide');
                    fun_ok();
                });
            };

        });
    </script>
{% endblock %}