{% extends 'management/manage_base.html' %}
{% block title %}Posts{% endblock %}

{% load static %}

{% block load_import_file %}
    <link href="{% static 'management/post.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title_right %}
    <a class="btn btn-sm btn-info mr-2" href="{% url 'create_post' %}">CreatePost</a>
{#    <button class="btn btn-sm btn-info mr-2">CreateDraft</button>#}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <span class="fa-pd"><a href="#">All </a>({{ counts.all }})</span>|
            <span class="fa-pd"><a href="#">Published </a>({{ counts.publish }})</span>|
            <span class="fa-pd"><a href="#">Protected </a>({{ counts.protected }})</span>|
            <span class="fa-pd"><a href="#">Private </a>({{ counts.private }})</span>|
            <span class="fa-pd"><a href="#">Draft </a>({{ counts.draft }})</span>
        </div>

        <div class="row w-100" id="post_table">
            <table class="table table-striped" style="table-layout: fixed;">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 32px;">
                        <input type="checkbox">
                    </th>
                    <th class="text-nowrap overflow-hidden align-left" style="width: 70%">
                        <span>
                            <label>Title</label>
                        </span>
                    </th>
                    <th class="align-right">
                        <label>Category</label>
                    </th>
                    <th>
                        <label>Date</label>
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for post in post_metas %}
                    <tr>
                    <td><input type="checkbox"></td>
                    <td class="text-nowrap overflow-hidden">
                        <a href="#">
                            {{ post.title }} {% if post.subtitle %} / {{ post.subtitle }} {% endif %}
                        </a>
                    </td>
                    <td scope="col">
                        Travel
                    </td>
                    <td scope="col">
                        {{ post.public_time }}
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

{#        <div class="row w-100" id="post_list">#}
{#            <ul class="list-group w-100">#}
{#                <div class=""></div>#}
{#                <li class="list-group-item text-nowrap align-left">#}
{#                    <div class="row">#}
{#                        <input type="checkbox">#}
{#                        <div class="col-4 overflow-hidden">#}
{#                            <a href="#">the title of my post, test for a long text, too see when hide or auto show</a>#}
{#                        </div>#}
{#                        <div class="col-2">#}
{#                            <a href="#">The_category</a>#}
{#                        </div>#}
{#                        <div class="col-3">2020-07-20</div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="list-group-item text-nowrap align-left">#}
{#                    <div class="row">#}
{#                        <input type="checkbox">#}
{#                        <div class="col-4">#}
{#                            <a href="#">the title of my post</a>#}
{#                        </div>#}
{#                        <div class="col-2">#}
{#                            <a href="#">The_category</a>#}
{#                        </div>#}
{#                        <div class="col-2">2020-07-20</div>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="list-group-item text-nowrap  align-left">#}
{#                    <div class="row">#}
{#                        <input type="checkbox">#}
{#                        <div class="col-4">#}
{#                            <a href="#">the title of my post</a>#}
{#                        </div>#}
{#                        <div class="col-2">#}
{#                            <a href="#">The_category</a>#}
{#                        </div>#}
{#                        <div class="col-3">2020-07-20</div>#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
        </div>
    </div>
{% endblock %}