{% extends 'themes/default/base_template.html' %}
{% load static %}

{% block page_import_files %}
    <link href="{% static '/themes/default/css/album_view.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}
{% endblock %}

{% block page_content %}
    <div class="container">
        <div id="album_meta">
            <h5>{{ album.title }}</h5>
            <span>{{ album.desc }}</span>
        </div>
        <hr>
        <div id="album_photos">
            <div class="container row">
                {% for p in photos %}
                    <div class="col-3">
                        <div class="photo_wrapper">
                            <div class="photo_box">
                                <a href="#">
                                    <img src="{% get_media_prefix %}{{ p.thumb_s }}" class="photo_thumb">
                                </a>
                            </div>
                            <div>
                                <div>{{ p.alias }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}