{% extends 'themes/default/base_template.html' %}

{% load static %}

{% block page_title %}
{% endblock %}

{% block page_import_files %}
{% endblock %}

{% block page_content %}
    <div class="container">
        <div id="album-list" class="row">
            {% for album in albums %}
                <div class="col-3">
                    <a href="{% url 'album_view' album_id=album.id %}">
                        <img src="{% get_media_prefix %}{{ album.cover_img.thumb_s }}" class="w-100 img-fluid">
                    </a>
                    <h5>{{ album.title }}</h5>
                    <span>{{ album.desc }}</span>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}