{% extends 'themes/default/base_template.html' %}

{% load static %}

{% block page_title %}
{% endblock %}

{% block page_import_files %}
    <link type="text/css" href="{% static '/themes/default/css/albums.css' %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
    <div class="container">
        <div id="album-list" class="row album_list">
            {% for album in albums %}
                <div class="col-3">
                    <div class="album_box">
                        <div class="cover_box">
                            <a href="{% url 'album_view' album_id=album.id %}">
                                <img src="{% get_media_prefix %}{{ album.cover_img.thumb_s }}"
                                     class="album_cover">
                            </a>
                            <span class="album_meta">
                                <div class="album_create_time">{{ album.create_time|date:"Y/m/d" }}</div>
                                <div class="album_images_count">{{ album.count }} 张</div>
                            </span>
                        </div>
                        <div class="album_title">
                            <h5>{{ album.title }}</h5>
                            <span>{{ album.desc }}</span>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}