{% extends "themes/default/base_template.html" %}
{% load static %}

{% block page_title %}{% endblock %}

{% block page_import_files %}
    <link rel="stylesheet" href="{% static 'themes/default/css/post_view.css' %}">
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="content_main">
            <h4 class="post_title text-center">{{ post.title }}</h4>
            {% if post.subtitle %}
                <h6 class="post_sub_title text-center">{{ post.subtitle }}</h6>
            {% endif %}
            <div class="text-center">{{ post.public_time |date:'Y/m/d H:s' }}</div>
            <hr>
            <div>
                {{ post.content | safe }}
            </div>
        </div>
    </div>
{% endblock %}