{% extends 'themes/default/base_template.html' %}
{% load static %}

{% block page_title %}
{% endblock %}

{% block page_import_files %}
    <link href="{% static 'themes/default/css/posts.css' %}" rel="stylesheet">
{% endblock %}


{% block page_content %}
    <div class="container-fluid content_page">
        <div class="post_categories">
            {% for cat in categories %}
                <span cat_id={{ cat.id }}>{{ cat.name }}</span>
            {% endfor %}
        </div>
        <div class="posts_container">
            {% for post in posts %}
                <div class="post_wrapper">
                    <div class="post_cover">
                        <a href="#">
                            <img src="{% static 'img/album_img.jpg' %}">
                        </a>
                    </div>
                    <div class="post_meta">
                        <div class="meta_top_fix"></div>
                        <div class="post_pub_time">{{ post.public_time|date:'Y/m/d H:s' }}</div>
                        <h5 class="post_title">
                            <a href="{% url 'post_view' post.id %}">{{ post.title }}</a>
                        </h5>
                        <h6 class="post_sub_title">{{ post.subtitle }}</h6>
                        <div class="text-center">
                            {#                            {% if post.visit_status == 2 %}#}
                            {#                                <span class="fas fa-lock fa-pd"></span>#}
                            {#                            {% elif post.visit_status == 3 %}#}
                            {#                                <span class="fas fa-eye-slash fa-pd"></span>#}
                            {#                            {% endif %}#}

                        </div>
                        <div class="post_thumb">
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock page_content %}

