{% extends 'themes/default/base_template.html' %}
{% load static %}

{% block page_title %}
{% endblock %}

{% block page_import_files %}
    <link href="{% static 'themes/default/css/posts.css' %}" rel="stylesheet">
{% endblock %}


{% block page_content %}
    <div class="container">
        <div>
            {% for cat in categories %}
                <span cat_id={{ cat.id }}>{{ cat.name }}</span>
            {% endfor %}
        </div>
        <div class="posts-container">
            {% for post in posts %}
                <div class="post-meta">
                    <h5 class="text-center"><a href="{% url 'post_view' post.id %}">{{ post.title }}</a></h5>
                    <h6 class="text-center">{{ post.subtitle }}</h6>
                    <div class="text-center">
                        {% if post.visit_status == 2 %}
                            <span class="fas fa-lock fa-pd"></span>
                        {% elif post.visit_status == 3 %}
                            <span class="fas fa-eye-slash fa-pd"></span>
                        {% endif %}
                        <span>{{ post.public_time }}</span>
                    </div>
                    <div class="post-thumb">
                        {{ post.content }}
                    </div>
                <hr>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock page_content %}

