#album_list {
    background-color: #dfe2e5;
    padding-top: 5px;
    min-height: 800px;
}

.album_box {
    margin-top: 3px;
    margin-bottom: 5px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.album_cover {
    height: 180px;
    max-width: 285px;
    overflow: hidden;
    border-radius: 5px
}

.album_cover img {
    width: auto;
    height: 180px;;
}

#fm_create_album label {
    text-align: right;
}

#fm_create_album input:invalid {
    border: 1px solid red;
}

#up_img_preview {
    height: 165px;
    max-height: 170px;
}

.photo_box {
    height: 256px;
    width: 256px;
    position: relative;
}

.photo_img {
    z-index: 5;
}

.widget_photo_edit {
    position: absolute;
    top: 0px;
    left: 15px;
    z-index: 1;
    background: white;
    opacity: 70%;
}


.m_del_pic_img {
    max-height: 105px;
}